@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set consistent spacing for all sections */
section {
  padding: 1.5rem; /* Mobile padding */
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* Standardize paragraph text size */
p {
  @apply text-base sm:text-lg leading-relaxed;
}

@media (min-width: 640px) {
  section {
    padding: 2rem 4rem; /* Larger screens */
  }
}

