@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set consistent spacing for all sections */
section {
  padding: 1.5rem; /* Mobile padding */
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* Standardize paragraph text size */
p {
  @apply text-base sm:text-lg leading-relaxed;
}

@media (min-width: 640px) {
  section {
    padding: 2rem 4rem; /* Larger screens */
  }
}

/* Custom scrollbar styling */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

